/* nav bar */
#nav-bar > h2 {
    margin: 0;
    font-size: 1em;
}

#nav-bar > h2 > a {
    color: white;
    text-decoration: none;
    padding: 8px 15px; /* Add padding for a button-like appearance */
    background-color: #3399FF; /* Set background color similar to the PDF/Code buttons */
    border-radius: 20px; /* Rounded corners for button shape */
    display: inline-block; /* Ensure the padding applies uniformly */
    font-weight: bold;
}

#nav-bar > h2 > a:hover {
    cursor: pointer;
    background-color: #4AB0FF; /* Lighten color on hover for effect */
}

#home_link:hover #home_icon {
    stroke: black;
}

#nav-bar {
    position: relative; /* Change to relative to allow it to scroll with the page */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent; /* Remove background to focus on individual buttons */
    color: white;
    padding: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#home_icon {
    height: 15px;
    stroke: white;
    stroke-width: 4;
    fill: none;
    align-self: center;
}

#home_link {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Cube styling for positioning */
#cube {
    position: sticky;
    top: 5px;
    transform: translate(-50px, 34px);
    padding-bottom: 0;
}

#cube-box {
    display: flex;
    transform: translate(-50px, 0);
}

/* Outer container layout adjustments */
#outer_container {
    padding-top: 5rem;
    margin: 0 auto;
    width: calc(100vw - 15rem);
}

@media screen and (min-width: 1350px) {
    #outer_container {
        width: 1040px;
    }
}

@media screen and (max-width: 510px) {
    #outer_container {
        width: 80vw;
    }

    #cube {
        transform: translate(-35px, 34px);
    }
}
