/* nav bar */
#nav-bar > h2 {
    margin: 0;
    font-size: 1em;
}

#nav-bar > h2 > a {
    color: white;
    text-decoration: none; /* Remove underline */
}

#nav-bar > h2 > a:hover {
    cursor: pointer;
    animation: none; /* Remove the animation if not needed */
    color: black;
    background-color: lightblue; /* Light blue background on hover */
    border-radius: 5px; /* Rounded corners for better appearance */
    padding: 5px; /* Add padding to enhance hover effect */
}

#home_link:hover #home_icon {
    animation: none; /* Disable stroke animation */
    stroke: black;
}

#nav-bar {
    position: fixed;
    top: 10px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center */
    z-index: 1;
    background-color: var(--accent_color);
    color: white;
    padding: 5px 20px; /* Adjust padding for better appearance */
    border-radius: 15px;

    display: flex;
    gap: 10px; /* Space between navbar items */
    align-items: center;
    justify-content: center;
}

#home_icon {
    height: 15px;
    stroke: white;
    stroke-width: 4;
    fill: none;
    align-self: center;
}

#home_link {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* cube at the top of the screen aligned to the left of the title in outer_container */
#cube {
    position: sticky;
    top: 5px;
    transform: translate(-50px, 34px);
    padding-bottom: 0;
}

#cube-box {
    display: flex;
    transform: translate(-50px, 0);
}

/* outer container and layout */
#outer_container {
    padding-top: 5rem;
    margin: 0 auto;
    width: calc(100vw - 15rem);
}

@media screen and (min-width: 1350px) {
    #outer_container {
        width: 1040px;
    }
}

@media screen and (max-width: 510px) {
    #outer_container {
        width: 80vw;
    }

    #cube {
        transform: translate(-35px, 34px);
    }
}
